{% load staticfiles i18n %}

{% for article in articles %}
<div class="post-preview">
    <a href="{% url 'article_detail' article.slug %}">
        <h2 class="post-title">
            {{ article.title }}
        </h2>
        <h3 class="post-subtitle">
            {{ article.subtitle }}
        </h3>
    </a>
    <p class="post-meta">
    {% trans "Posted by" %} {% if article.author.slug %}<a href="{% url 'user_detail' article.author.slug %}" class="alert-link">{{ article.author.nickname }}</a>{% else %}{% trans "Anonymous" %}{% endif %} {% trans "on" %} {{ article.publication_date|date:"F j, Y" }}
    </p>
</div>
<hr>
{% empty %}
<p>{% trans "There's no articles published yet." %}</p>
{% endfor %}
