{% extends "blog/base.html" %}
{% load staticfiles i18n %}

{% block stylesheets %}
{{ block.super }}
<link href="{% static "blog/css/article_detail.css" %}" rel="stylesheet">
{% endblock %}

{% block site_heading %}{% if private %}{% trans "(Private):" %} {% endif %}{{ article.title }}{% endblock %}

{% block site_subheading %}{{ article.subtitle }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        
        {{ article.content|safe }}
        
    </div>
</div>
{% endblock %}
