{% load staticfiles i18n %}

{% if is_paginated %}
<ul class="pager">
    {% if page_obj.has_next %}
    <li class="{% if reverse %}previous{% else %}next{% endif %}">
        <a href="?page={{ page_obj.next_page_number }}">{% if reverse %}&larr;{{ next }}{% else %}{{ next }}&rarr;{% endif %}</a>
    </li>
    {% endif %}
    {% if page_obj.has_previous %}
    <li class="{% if reverse %}next{% else %}previous{% endif %}">
        <a href="?page={{ page_obj.previous_page_number }}">{% if reverse %}{{ previous }}&rarr;{% else %}&rarr;{{ previous }}{% endif %}</a>
    </li>
    {% endif %}
</ul>
{% endif %}
