{% extends "blog/base.html" %}
{% load staticfiles i18n %}

{% block stylesheets %}
{{ block.super }}
<link href="{% static "blog/css/user_detail.css" %}" rel="stylesheet">
{% endblock %}

{% block site_heading %}{{ target_user.nickname }}{% endblock %}

{% block site_subheading %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        
        {{ target_user.biographical_info|safe }}
        
    </div>
</div>
{% endblock %}
